body {
	background-image: url(background.png);
	background-repeat: no-repeat;
}
.invalid_user_data {
	background-color: Tomato;
}
.main-title {
	font-family: tahoma, sans-serif;
	font-size: 13pt;
	font-style: normal;
	font-weight: bold;
	left: 17%;
	top: 2.7%;
	position: absolute;
	width: 75%;
	height: 32px;
	white-space: nowrap;

}
.sub-title {
	font-family: tahoma, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	left: 19.5%;
	width: 80%;
	position: absolute;
	top: 9.8%;



}
.selectPromptText {
	font-family: tahoma, sans-serif;
	font-size: 8pt;
	left: 19.5%;
	width: 70%;
	position: absolute;
	top: 13%;



}
.acceptPromptText {
	font-family: tahoma, sans-serif;
	font-size: 8pt;
	left: 19.5%;
	width: 70%;
	position: absolute;
	top: 84.8%;



}
.content {
	font-family: tahoma, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	position: absolute;
	left: 19.5%;
	top: 16%;
	width: 77%;
	height: 82%;




}
.leftbutton {
	text-align: left;
	vertical-align: bottom;
	left: 17%;
	bottom: auto;
	position: absolute;
	top: 92%;
	width: 20%;
	height: 35px;





}
.rightbutton {
	text-align: right;
	vertical-align: bottom;
	position: relative;
	left: -12px;
	top: 91%; 
	width: fit; 
	height: 50px;
	white-space: nowrap;





}
.rightbutton2 {
	text-align: right;
	vertical-align: bottom;
	position: relative;
	left: 100px;
	top: 91%; 
	width: fit; 
	height: 50px;
	white-space: nowrap;






}
.content-inner-square {
	border: 1px solid #CCCCCC;
	overflow: auto;
	height: 68%;
	width: 102%;

}
.print-save {
	left: 55%;
	top: 1.5%;
	position: absolute;
	text-align: right;
	vertical-align: bottom;
	width: 275px;
	height: 19px;




}
.table-content-left {
	font-family: tahoma, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-align: right;
	padding: 3px;
	white-space: nowrap;
	width: fit;



}
.table-content-right {
	font-family: tahoma, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px;
	white-space: nowrap;
	width: fit;


}
.sub-title-no-bold {
	font-family: tahoma, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	position: absolute;


}
.required-fields {

	font-family: tahoma, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	position: absolute;
	left: 6%;
	top: 40%;
	width: auto;
	height: auto;
}
.sub-title-with-error {
	font-family: tahoma, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #CC0000;
	border: none #CCCCCC;
	background-image: none;
	width: auto;
	height: auto;
	text-align: left;
	vertical-align: middle;








}
.hidden-button {
	position: absolute;
	visibility: hidden;
	left: 29%;
	top: 1%;


}
.show-button {
	position: absolute;
	visibility: visible;
	left: 13%;
	top: 1%;
	width: 70%;
	height: 48px;


}
.inline-error {
	background-image: url(error_background.png);
	padding: 5px;
	height: fit;
	width: 92%;
	left: 1px;
	top: 63%;
	position: absolute;
	border: 1px solid #FF9900;

}
.inline-error-UPPER {

	background-image: url(error_background.png);
	padding: 5px;
	height: fit;
	width: 92%;
	left: 1px;
	top: 50%;
	position: absolute;
	border: 1px solid #FF9900;
	
}
.required-fields2 {


	font-family: tahoma, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	position: absolute;
	left: 5%;
	top: 20%;
	width: auto;
	height: auto;
}
.sub-title-with-error-gray-bg {


	font-family: tahoma, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	left: 0px;
	position: absolute;
	top: 7px;
	background-color: #CCCCCC;
	color: #CC0000;
	border: 1px solid #ff9900;
	background-image: url(error_background.png);
	width: fit;
	height: fit;
	text-align: left;
	vertical-align: middle;
}
.sub-title-with-error-beige-bg {
	font-family: tahoma, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	left: 1px;
	position: absolute;
	top: 7px;
	background-color: #CCCCCC;
	border: 1px solid #ff9900;
	background-image: url(error_background.png);
	width: fit;
	height: fit;
	text-align: left;
	vertical-align: middle;
}
.sub-title-with-warning {

	font-family: tahoma, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	border: none #CCCCCC;
	background-image: none;
	width: auto;
	height: auto;
	text-align: left;
	vertical-align: middle;
}
.content-bold {
	font-family: tahoma, sans-serif;
	font-size: 8pt;
	font-weight: bold;


}
.list-element {
	font-family: tahoma, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-indent: 15pt;
	padding-bottom: 8px;


}
.content-normal {


	font-family: tahoma, sans-serif;
	font-size: 8pt;
	font-weight: normal;
}
.content-italics {
	font-family: tahoma, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	color: #666666;





}
.content-inner-square-gray {
	border: 1px solid #CCCCCC;
	overflow: auto;
	height: 63%;
	width: 65%;
	padding: 3px;
	background-color: #FFFFFF;
	left: 25%;
	top: 24%;
	position: absolute;



}
.table-content-left-reg {
	font-family: tahoma, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	text-align: right;
	white-space: nowrap;
	height: 15px;

}
.table-content-right-reg {
	font-family: tahoma, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	white-space: nowrap;
	height: 15px;

}
.reg-options {
	font-family: tahoma, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	position: absolute;
	left: 0px;
	top: 5%;

}
.reg-req-fields {
	font-family: tahoma, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	font-style: italic;
	color: #666666;
	position: absolute;
	left: 83%;
	top: 6%;
	width: 44%;
	height: 13px;

}
.sub-title-reg {
	font-family: tahoma, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	left: 19.5%;
	position: absolute;
	top: 9%;
	height: 55px;
	width: 99%;
	overflow: auto;
}
 
